@media screen and (max-width:475px) {
    section h2{
        text-align: center !important;
    }

    .step .right{
        min-width: 90% !important;
    }
}
@media screen and (max-width:800px) {
    .buttons#seanceBtn{
        font-size: 2rem !important;
    }
}

@media screen and (max-width:825px) {
    #formToggler::after{
        content: "\2193";
        position: absolute;
        right: 25%;
    }
}

@media screen and (max-width:625px) {
    #formToggler::after{
        content: "";
        display: none;
    }
}


@media screen and (max-width:450px) {
    form > div:not(#msgGroup){
        gap: 0;
        flex-direction: column;
    }

    .form-control{
        width: 90% !important;
    }
}