@media screen and (max-width:768px) {
    .HeaderBottom > .list-group{
        display: grid;
        grid-template-columns: repeat(2,auto);
        justify-content: space-around;
    }

    #apropos{
        order: 4;
    }

    #mainPart{
        flex-direction: column-reverse;
    }

    .step{
        flex-direction: column !important;
    }
}

@media screen and (max-width:700px) {
    .close-modal{
        bottom: 0 !important;
        top: auto;
    }
}
@media screen and (max-width:500px) {
    .socials a{
        font-size: 70%;
    }
}
@media screen and (max-width:400px) {
    .socials a{
        font-size: 40%;
    }
}