@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/bintar');

.App {
  width: 100% !important;
  min-height: 100vh !important;
  background-color: #777;
  font-size: 1.6rem;
  z-index: -1000 !important;
}

:root{
  --incorrect:#FF7A68;
  --correct:#7AFF68;
  --link-hover:#ff0;
  --contrast-1:#F9E98E;
  --contrast-2:#D2C476;
}

*{
  margin: 0;
  padding: 0;
  /* font-family: Helvetica, sans-serif !important; */
  font-family: 'Bintar', sans-serif;
  list-style: none;
  text-decoration: none;
  z-index: 0 !important;
}
html{
  scroll-behavior: smooth;
}
*,*::before,*::after{
  transition: all 0.3s ease-in-out;
}

.secondary-font{
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.italic {
  font-style: italic;
}

::placeholder{
  color: #494848 !important;
}

input:invalid{
  background-color: var(--incorrect) !important;
}
input:valid{
  background-color: var(--correct) !important;
}

.buttons{
  background-color: #F9DC38 !important;
  border: none !important;outline: none;
}
.buttons:active{
  background-color: var(--contrast-2) !important;
}

h1{
  font-size: 75px;
  padding: 10px;
}
h2{
  font-size: 40px !important;
  font-weight: bold;
}
h3{
  font-size: 25px;
  font-weight: 600;
}

.list-group button,.list-group a{
  font-size: 18px;
}

label,input{
  font-size: 0.825rem;
}
label{
  cursor: pointer !important;
}

form,form *{
  font-family: Arial, sans-serif !important;
  border-radius: 7px;
}

input{
  border-radius: 15px;
  background-color: var(--contrast-2) !important;
}


header{
  background-color: var(--contrast-1);
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  left: 0;top: 0;
  width: 100% !important;
  z-index: 30 !important;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 30%);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  z-index: 10 !important;
}
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

section{
  width: 100% !important;
  display: flex;
  margin: 30px;
}

section#mainPart{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HeaderBottom > .list-group{
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.HeaderBottom > .list-group .list-group-item{
  background-color: transparent;
  border: none;outline: none;
  border-radius: 0;
}

.HeaderBottom > .list-group .list-group-item button,.HeaderBottom > .list-group .list-group-item a{
  color: black;
}
.HeaderBottom > .list-group .list-group-item:not(.active) button,.HeaderBottom > .list-group .list-group-item:not(.active) a{
  text-decoration: none !important;
}

.list-group-item:has(.submenu){
  position: relative;
}

.list-group.submenu{
  position: absolute;
  left: 0 !important;
  background-color: var(--contrast-1);
  user-select: none;
  pointer-events: none;
  transform: translate(-7%,-100%);
  z-index: -10 !important;
  opacity: 0;
  width: fit-content !important;

  border-radius: 0;
}

.list-group-item:has(.submenu):hover .submenu{
  user-select: all;
  pointer-events: all;
  transform: translate(-7%,1%) !important;
  opacity: 1;
}

.list-group-item.active a{
    text-decoration: underline !important;
}

.list-group-item:hover{
  background-color: var(--contrast-2) !important;
  cursor: pointer;
}
.list-group-item:hover > button,.list-group-item:hover > a{
  color: rgb(101, 101, 1) !important;
}

.HeaderBottom > .list-group > .list-group-item{
  padding: 2px 0;
}

#mainPart .left{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#mainPart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
}

#mainPart .right{
  min-width: 50%;
}

section h2{
  font-weight: bold;
}

main button{
  color: black !important;
}

#processes{
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.step{
  min-width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contrast-1);
  padding: 20px;
}

.step:nth-child(2n+1){
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#mainPart img,.step img{
  width: 100% !important;
  height: auto;
}

.step span{
  font-size: 1rem !important;
  padding: 15px;
  text-wrap: pretty;
}

.step .right{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50% !important;
  width: 100%;
}

.step h3{
  font-weight: bold;
  padding: 10px;
}

.step li{
  list-style-type: square !important;
}

#mainPart > *{
  padding: 10px;
}

#formManager{
  flex-direction: column;
  align-items: center;
  width: 90% !important;
}

#formManager button{
  font-size: 22px;
  font-weight: bold;
  width: 60%;
}

form > div{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

form{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 10px 0;
  background-color: var(--contrast-1);
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#formManager > div{
  width: 60% !important;
  overflow: hidden;
  position: relative;
  height: 800px;
}

form input{
  width: 65% !important;
}

#msgGroup{
  flex-direction: column;
  gap: 2x !important;
}

form textarea{
  max-width: 80% !important;
  background-color: var(--contrast-2) !important;
}

form button{
  max-width: fit-content !important;
  padding: 15px;
  font-size: 1.75rem !important;
}

form > div{
  width: 100% !important;
}
form > div:not(#msgGroup){
  justify-content: space-between;
  gap: 30px;
  padding: 0 25%;
}

.hidden-form{
  height: 0 !important;
}

footer > div{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

footer button{
  color: white !important;
  text-decoration: none !important;
}
footer button:hover{
  color: yellow !important;
  text-decoration: underline !important;
}

#formToggler{
  position: relative;
}

#formToggler::after{
  content: "\2192";
  position: absolute;
  right: 11%;
}
#formToggler.show::after{
  content: "\2193";
}

.show-modal{
  display: block !important;
  z-index: 1055 !important;
  background-color: rgba(0, 0, 0, 30%);
  position: relative;
}

.modal-content{
  transition: all 2s ease !important;
  min-width: 50vw !important;
  min-height: fit-content !important;
  position: absolute !important;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  animation: reveal forwards linear 0.2s;

  background-color: var(--contrast-1) !important;
}

.show-modal .modal-content{
  top: 50% !important;
  transform: translateY(-50%);
}

@keyframes reveal {
  0%{
    top: 0;
    transform: translateY(-100%);
  }
  100%{
    top: 50% !important;
    transform: translateY(-50%);
  }
}

.close-modal{
  cursor: pointer;
  width: 40px !important;
  height: 40px;
  position: absolute !important;
  right: 0;
  top: 0;
  z-index: 100 !important;
}

.modal h2{
  font-size: 27px !important;
  text-align: center;
  padding-top: 10px;
}

.modal-content > *{
  position: relative;
}

.meeting-form .btn-link{
  text-align: left;
  align-self: flex-start;
  font-size: 15px !important;
}
.meeting-form .btn-link:active{
  background-color: black !important;
  color: yellow !important;
}

.meeting-form{
  display: flex;
  flex-direction: column;
}

.meeting-form .btn-primary{
  background-color: var(--contrast-2);
  border: none;outline: none;
}
.meeting-form .btn-primary:hover,.meeting-form .btn-primary:active{
  background-color: black;
  border: none;outline: none;
  color: yellow !important;
  accent-color: black !important;
}

#seanceBtn{
  width: fit-content !important;
  align-self: center;
  font-size: 1.5rem;
}